$primary: rgba(5,135,233,0.9);
$accent: rgba(83,43,178,1);
$blue-ligth: #4449c333;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

#root > div > div:nth-child(2) > nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1006;
  background: #233239 !important;
  transition: min-width 0.15s;
}
.avatar{
  margin: 0 auto;
  display: block;
  width: 75px;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T {
  position: relative;
  display: block;
  line-height: auto;
  height: auto !important;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.gradient {
  background: linear-gradient(to right, rgba(5,135,233,0.9) 0%, rgba(83,43,178,1) 100%);
  height: 60px;
  width: 100vw;
}
.gradient__menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  height: 60px;
}
.gradient__icon{
  font-size: 20px;
  height: 60px;
  width: 60px;
 border-left: 2px solid black;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-right: 20px;
}
.btn {
  margin: -0px 37px;
 color: white;
 transition: none;
 background-color: $primary;
}
.btn:hover{
  color: white;
  border: none;
  background-color: $accent;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}
#dropdownMenu2{
  background-color: transparent;
}
.dropdown * {
  font-size: 18px;
  height: auto; 
}
.bell {
  padding: 0 5px;
}
.header__directory{
  display: flex;
  margin-left: 250px;
  align-items: center;
  height: 60px;
}
.header__directory__title{
padding-right: 20px;
}
.badge-info {
  color: #fff;
  background-color: $primary;
}
.header__directory__filters{
    margin-left: 250px;
    display: flex;
    justify-content: space-around;
    height: 40px;
    border-top: 1px solid $primary;
    align-items: center;
}
.header__directory__filters--left-container {
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    align-items: center;
}
.order--By{
  color: $primary;
}
.order--By:hover{
  color: $accent;
}
.second{
  border-left: 1px solid $primary;
  padding: 0 5px;
  padding: 0 5px;

}
#root > div > div:nth-child(3) > nav{
    padding: 6px;
    background: $blue-ligth;
    height: 50px;
}
.header__directory__filters--alphabet{
  display: flex;
  justify-content: space-evenly;
  margin-left: 230px;
}
.alphabet__button {
  font-size: 10px;
  color: gray;
  border: none;
  background: transparent;
}
.alphabet__button:hover {
  font-size: 10px;
  color: $primary;
}
.fas .fa-star {
  color: gray;
}
.card-img {
  width: 4em;
  
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
}
.card-body__contact{
  min-width: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
